<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title>encrypt</title>
</head>
<body>
	<section>
		<h3 class="mt-4">Encrypt your files</h3>
		<div class="text-center">
			<small style="display: none;" id="status"></small>
		</div>
		<form id="dataUpload">
			<input name="image" type="file" required="required" class="mt-3" /> <br/>
			<input type="password" name="password" maxlength="20" placeholder="Enter your password" class="form-control mt-2" required="required"/>
			<div class="text-center mt-2">
				<button type="submit" class="btn btn-primary">Upload</button>
			</div>
		</form>
		<small class="text-danger">Note: We do not store your data.</small>
		<div class="text-center mb-3">
			<img class="img-fluid" src="/img/encryption.png" alt="decryption" />
		</div>
		<script type="text/javascript" th:src="@{/js/uploadScript.js}"></script>
	</section>
</body>
</html>